.login {
  padding: 100px 0;
}

.logo {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  margin-bottom: 40px;
  text-align: center;
}

.log {
  margin-bottom: 20px;
}

.password {
  margin-bottom: 40px;
}

.error {
  color: #fe3f3f;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.from {
  max-width: 460px;
  width: 100%;
}

@media (max-width: 640px) {
  .logo {
    max-width: 164px;
    margin-bottom: 40px;
  }
  .password {
    margin-bottom: 30px;
  }
}
