.title {
  margin-bottom: 60px;
}

.text {
  margin-bottom: 30px;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 60px;
}

.intro {
  margin-bottom: 106px;
  position: relative;
}

.intro img {
  width: 100%;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.introPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;

}

.item {
  max-width: 560px;
}

.itemTitle {
  margin-bottom: 30px;
}

.itemText {
  margin-bottom: 30px;
}

.itemAudio {
  margin-bottom: 60px;
}

.image {
  width: 100%;
  cursor: pointer;
}

.imageBig {
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 120px;
}

.button {
  max-width: 340px;
  margin: 0 auto 60px;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .item {
    max-width: 100%;
  }
  .introPlay {
    width: 70px;
  }
  .intro {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .title {
    margin-bottom: 30px;
  }
  .playerWrapper {
    margin-bottom: 30px;
  }
  .itemTitle {
    margin-bottom: 20px;
  }
  .itemAudio {
    margin-bottom: 30px;
  }
  .wrapper {
    margin-bottom: 40px;
  }
  .intro {
    margin-bottom: 76px;
  }
  .button {
    margin-bottom: 30px;
  }
  .introPlay {
    width: 50px;
  }
  .intro {
    margin-bottom: 25px;
  }
}
