.buyMeetingMeditation {
  padding: 100px 0;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.text {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  max-width: 460px;
  width: 100%;
}

.email {
  margin-bottom: 20px;
}

.select {
  margin-bottom: 20px;
}

.date {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .buyMeetingMeditation {
    padding: 50px 0;
  }
  .logo {
    width: 164px;
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 20px;
  }
  .text {
    margin-bottom: 20px;
  }
}
