html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #5c638f 0%, #342049 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  height: 100%;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
